* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: flex;
}
.container .left-side{
  background: #f6f6f6;
  width: 50%;
  padding: 100px;
}
.container .right-side{
  width: 49%;
  border: 2px solid red;
}
.container .left-side .logo {
  display: flex;
  align-items: center;
}

.container .left-side .logo svg {
  display: flex;
  margin-right: 20px;
}
.container .left-side .logo .h1 {
  color: #393939;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.container h2 {
  margin-top: 80px;
  color: #393939;
  font-family: Poppins;
  font-size: 62px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container p {
  margin-top: 10px;
  color: #393939;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container input {
  width: 100%;
  height: 38px;
  border-radius: 5px;
  background: #fff;
}

.container form {
  margin-top:40px ;
  gap: 40px;
  display: flex;
  flex-direction: column;
}

.container form .user-info-input {
  padding: 20px;
  border: none;
  background: white;
}
.container .left-side .remember {
  display: flex;
  align-items: center;
}
.container .left-side  .remember span {
  color: #666;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container .sign {
  color: #fff;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 5px;
  background: #f35d5d;
  width: 427px;
  height: 38px;
  border: none;
}

.remember input {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid #D9D9D9;
  background: #F6F6F6;
}
